@media screen and (max-width: 576px) 
{ 
    html 
    { 
        font-size : auto; 
    } 
}
@media screen and (max-width: 768px) 
{ 
    html
    { 
        font-size : auto; 
    } 
}  
@media screen and (max-width: 926px) 
{
    html 
        {
            font-size: auto;
            }

        img 
{
     max-width: 100%;
     height: auto;
}
article {
    max-width: 100%;
}
table
{
    overflow: scroll;
    max-width: 100%;
}
ul {
    max-width: 100%;
}
#parent{
    display: flex;
    flex-direction: column;
}
label {
    max-width: 100%;
}
fieldset{
    max-width: 100%;
}
}

a[title=rick]
{
    display: flex;
    left: 30px;
    text-align: left;
    align-items: center; 
}
thead, tbody{
    max-width: 100%;
}
