@media screen and (max-width: 576px) 
{ 
    html 
    { 
        font-size : auto; 
    } 
} 

@media screen and (max-width: 768px) 
{ 
    html
    { 
        font-size : auto; 
    } 
}  
@media screen and (max-width: 926px) 
{
    html 
        {
            font-size: auto;
            }
        }
        img 
{
     max-width: 100%;
     height: auto;
}

a[title=rick]
{
    display: flex;
    left: 30px;
    text-align: left;
    align-items: center; 
}

